.header{
  display: flex;
  flex-direction: row;
}

button {
  background-color: #9CD3D9;
  width:50px;
  height:25px;
  text-align: center;
  color: #F0EAD6;
  display: flex;
  padding: 15px 45px;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 20px;
  font-style: italic;
  font-size: 15px;


}
